<div class="bg-green">
  <h1>
    Titolo
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, voluptatem asperiores, esse non vitae alias, beatae sapiente dolorum nihil illo facilis molestiae corporis blanditiis incidunt totam labore excepturi cum ratione.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquid eos commodi tempora consequuntur error molestiae reiciendis molestias esse deserunt nam quo, cupiditate aperiam odio et dolores ullam unde non.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, voluptatem asperiores, esse non vitae alias, beatae sapiente dolorum nihil illo facilis molestiae corporis blanditiis incidunt totam labore excepturi cum ratione.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquid eos commodi tempora consequuntur error molestiae reiciendis molestias esse deserunt nam quo, cupiditate aperiam odio et dolores ullam unde non.</p>
</div>
